.landing-container{
    background-image: url('../../../media/images/GreenOlives.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    color: white;
}
.welcome-container{
    height: 12vh;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center
}
.welcome-container strong {
    font-size: 55px;
    margin-right: 20vw;
    margin-top: 20vh
}