.landing-container{
    background-color:#D1D4B7;
    height: 100vh;
}
.Landing_image{
    height: 100vh;
}

.welcome-text {
    font-size: 55px;
    margin-right: 20vw;
    margin-top: 20vh;
    position: absolute;
    top: 5px;
    right: 5px
}
