.item-filter {
    min-height: 100%;
    width: 15vw; 
    float: left;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: #773A3A
}
.user-input-filter {
  padding: 1%;
}
