.app-store {
  min-height: 100vh;
  width: 100vw;
  background: -webkit-radial-gradient(center, ellipse cover, rgba(254, 254, 253, 1) 0%, rgba(220, 227, 196, 1) 42%, rgba(174, 191, 118, 1) 100%);
  background-attachment: fixed;
}
aside {
  float: left;
  /* position: fixed */
}
.item-display img{
    float: left;
}