.item-display{
    background-color: white;
    box-shadow: 6px 6px rgba(82, 82, 83, 0.377);
    height: 350px;
    width: 315px;
    margin: 25px;
}

.product-description {
    padding: 2%;
}

.Product-img-primary {
    height: 180px;
    float: left;
    padding: 5%
}