/* .item-display{
    height: 500px;
    margin: 10px;
} */
.Product-display-container{
    height: 25vh;
    width: 35vw; 
}
.Product-img-primary {
    height: 180px;
    float: left;
    padding: 5%
}