.App-header {
  /* position: fixed; */
  height: 10vh;
  width: 100%;
  z-index: 1;
  background-color: #e9edcb;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App-header Link {
  color: #734b4b;
}
